<!doctype html>
<html ng-app>
<head>
<title>btc-CampBX Trading Bot</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
<script type="text/javascript">
function TickCtrl($scope, $http)
{
    $scope.bid = "unknown";
    $scope.ask = "unknown";
    $scope.usdLiquid = "unknown";
    $scope.usdTotal = "unknown";
    $scope.btcLiquid = "unknown";
    $scope.btcTotal = "unknown";
    $scope.total = "unknown";
    $scope.refresh = function() 
    {
        $http.get('/tick').then(function(result) 
        {
            $scope.bid = parseFloat(result.data["bid"]);
            $scope.ask = parseFloat(result.data["ask"]);
            $scope.usdLiquid = parseFloat(result.data["usd-liquid"]);
            $scope.usdTotal = parseFloat(result.data["usd-total"]);
            $scope.btcLiquid = parseFloat(result.data["btc-liquid"]);
            $scope.btcTotal = parseFloat(result.data["btc-total"]);
            $scope.total = ($scope.bid * $scope.btcTotal) + $scope.usdTotal;
        });
    };
    $scope.refresh();
}
function SettingsCtrl($scope, $http)
{
    $scope.algorithm = {};
    $scope.refresh = function() 
    {
        $http.get('/settings/algorithm').then(function(result) 
        {
            $scope.algorithm = result.data;
        });
    };
    $scope.refresh();
}
</script>
<style>
body {
    font-family: verdana;
    font-size: smaller;
}
td, th {
    border-bottom: 1px solid gray;
}
</style>
</head>
<body>

<input type="button" value="Run" onClick="window.location='/algo'"/>
<table border>
    <tr>
        <td valign="top">
            <h1>Exchange</h1>
            <div ng-controller="TickCtrl">
                <button ng-click="refresh();">Refresh!</button>
                <p>Current bid: {{bid}} ask: {{ask}}</p>
                <table>
                <tr><th></th><th>Liquid</th><th>Total</th></tr>
                <tr><th>USD</th><td>{{usdLiquid}}</td><td>{{usdTotal}}</td></tr>
                <tr><th>BTC</th><td>{{btcLiquid}}</td><td>{{btcTotal}}</td></tr>
                </table>
                <p>Total Value: {{total}}</p>
            </div>

            <h1>Settings</h1>
            <div ng-controller="SettingsCtrl">
                <button ng-click="refresh();">Refresh!</button>
                <p><b>Algorithm Parameters</b></p>
                <table>
                <tr ng-repeat="(id, item) in algorithm">
                    <th align="right">{{id}}</th>
                    <td><input name="algorithm.{{id}}" value="{{item}}" size="3"/></td>
                </tr>
                </table>
            </div>
        </td>
        <td valign="top">
            <h1>Order Book</h1>
            <table border="0" cellpadding="5" cellspacing="0">
            <tr><th></th><th>Price</th><th>Quantity</th><th>Status</th></tr>
            <tr ng-repeat="order in order_book">
                <td>{{order.side}}</td>
                <td>{{order.price}}</td>
                <td>{{order.quantity}}</td>
                <td>{{order.status}}</td>
            </tr>
            </table>
        </td>
    </tr>
</table>

</body>
</html>
